@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none; /* Disables pull-to-refresh on Android/Chrome */
  overflow-x: hidden;
  position: fixed; /* Prevents "bounce" on iOS */
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; /* Removes blue tap box */
  user-select: none; /* Disables text selection */
  -webkit-user-select: none;
  touch-action: pan-x pan-y;
}

#root {
  height: 100%;
  overflow-y: auto; /* Internal scroll */
  -webkit-overflow-scrolling: touch;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Hide scrollbar in specific areas */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
}
